@import "../../App";

// wrapper

.wrap {
  width: 100%;
  height: 712px;
  background-color: #F3F3F3;
  padding-top: 48px;
}

.cases {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  @include display( flex );
  @include justify-content( space-between );
}

// title

.title {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  color: #2C2F33;
}

// arrow vector

.vector {
  @include position( relative );
  width: 721px;
  height: 28.5px;
  margin: 0 auto;
  margin-top: 18.5px;
  border-top: 3px solid #E1E1E1;
  @include display( flex );
  @include justify-content( space-between );
}

.subVector {
  height: 28.5px;
  width: 3px;
  background-color: #E1E1E1;
}

// carousel

.carousel {
  display: none;
}

@media screen and ( max-width: 1100px ) {
  .standart {
    display: none;
  }

  .carousel {
    display: block;
    width: 544px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .vector {
    @include display( none );
  }
}

.rotate {
  @include transform( rotate(180deg) );
}

.svg {
  fill: #2C2F33;
}

@media screen and ( max-width: 560px ) {
  .carousel {
    display: none;
  }

  .wrap {
    height: 428px;
    padding-top: 24px;
  }

  .title {
    font-size: 18px;
    line-height: 22px;
  }
}