@import "../../App";

.wrap {
  width: 100%;
  height: 660px;
  @include display( flex );
  @include justify-content( flex-end );
  //@include flex-direction( column );
  background-color: #F3F3F3;
}

// icons

.descriptions {
  position: absolute;
  left: 0;
}

.logo {
  z-index: 2000;
  position: absolute;
  left: 200px;
  top: 60px;
}

.svg {
  width: 692px;
  height: 622px;
}

.icons {
  z-index: 100;
  @include position( relative );
  width: 692px;
  height: 622px;
}

// illustration

.illustration {
  @include position( absolute );
  top: 110px;
  right: 152px;
}

// description

.content {
  margin-top: 250px;
  margin-left: 200px;
  @include display( grid );
  @include grid-row-gap( 30px )
}

.title {
  width: 455px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  color: #2C2F33;

}

.description {
  width: 443px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #2C2F33;
}

.svg_2, .svg_3 {
  display: none;
}

@media screen and ( max-width: 1360px ) {
  .wrap {
    display: flex;
  }

  .logo {
    left: 90px;
  }

  .content {
    margin-left: 90px;
  }
}

@media screen and ( max-width: 1240px ) {
  .content {
    margin-top: 500px;
  }

  .wrap {
    height: 710px;
  }
}

@media screen and ( max-width: 1150px ) {
  .content {
    margin-top: 662px;
  }

  .wrap {
    height: 880px;
  }
}

@media screen and ( max-width: 850px ) {
  .svg {
    display: none;
    width: 520px;
    height: 622px;
  }

  .svg_2 {
    display: block;
    position: absolute;
    right: 0;
  }

  .ellipse, .icons {
    width: 624px;
    height: 622px;
  }

  .illustration {
    @include position( absolute );
    top: 110px;
    right: 142px;
  }
}

@media screen and ( max-width: 630px ) {
  .logo {
    left: 40px;
  }

  .content {
    margin-left: 40px;
  }

  .title {
    font-size: 20px;
    width: 400px;
  }

  .description {
    font-size: 18px;
    width: 400px;
  }
}

@media screen and ( max-width: 700px ) {
  .ellipse, .icons {
    width: 250px;
    height: 370px;
  }

  .illustration {
    top: 110px;
    right: 45px;
  }

  .svg_2 {
    @include display( none );
  }

  .svg_3 {
    @include display( block );
  }

  .content {
    margin-top: 400px;
  }

  .title {
    width: 370px;
    font-size: 24px;
  }

  .description {
    font-size: 18px;
    width: 370px;
  }

  .wrap {
    height: 610px;
  }
}

@media screen and ( max-width: 420px ) {
  .title {
    width: 220px;
    font-size: 16px;
    line-height: 20px;
  }

  .description {
    width: 234px;
    font-size: 10px;
    line-height: 12px;
  }

  .content {
    margin-top: 370px;
    @include grid-row-gap( 10px )
  }

  .wrap {
    height: 480px;
  }
}