@import '../../App';

// wrapper

.wrap {
  width: 320px;
  height: 250px;
  background-color: #fff;
  padding-top: 30px;
  @include display( flex );
  @include flex-direction( column );
  @include justify-content( space-between );
  @include align-items( center );
  border-radius: 5px;
  @include overflow( hidden );
}

// text

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #2C2F33;
}

.description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: 0 25px;
  color: #2C2F33;
}

.name {
  width: 100%;
  height: 100%;
  @include display( flex );
  @include justify-content( center );
  @include align-items( center );

  & p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
}

// down bar

.downBar {
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: 76px;
  @include display( flex );
  @include align-items( center );
}

.img {
  width: 75px !important;
  height: 76px !important;
}

@media screen and ( max-width: 560px ) {
  .wrap {
    width: 230px;
    height: 180px;
    padding-top: 20px;
  }

  .title {
    font-size: 11px;
    line-height: 13px;
  }

  .description {
    font-size: 9px;
    line-height: 11px;
    margin: 0 15px;
  }

  .name {
    font-size: 11px;
    line-height: 13px;
  }

  .downBar {
    height: 55px;
  }

  .img {
    width: 55px !important;
    height: 55px !important;
  }
}
