@import "../../App";

// wrapper

.wrap {
  padding: 0 15px;
  width: 100%;
  height: 145px;
  background-color: #47AF71;
  @include display( flex );
  @include justify-content( center );
  @include align-items( center );
}

.container {
  width: 1044px;
  height: 73px;
  @include display( flex );
  @include justify-content( space-between );
  @include align-items( center );
}

// text

.text {
  width: 443px;
  height: 100%;
  @include display( flex );
  @include flex-direction( column );
  @include justify-content( space-between );
}

.info {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #31704A;
}

.description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

// icon

.vk {
  border-radius: 5px;
  width: 34px;
  height: 34px;
  fill: #fff;
}

@media screen and ( max-width: 560px ) {
  .text {
    width: 240px;
  }

  .description {
    font-size: 11px;
    line-height: 10px;
  }

  .info {
    font-size: 12px;
    line-height: 11px;
  }
}