@mixin display( $option ) {
  -webkit-display: $option;
  -moz-display: $option;
  -o-display: $option;
  -ms-display: $option;
  display: $option;
}

@mixin justify-content( $option ) {
  -webkit-justify-content: $option;
  -moz-justify-content: $option;
  -o-justify-content: $option;
  -ms-justify-content: $option;
  justify-content: $option;
}

@mixin burger-menu() {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #000;
}

@mixin title() {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

@mixin align-items( $option ) {
  -webkit-align-items: $option;
  -moz-align-items: $option;
  -o-align-items: $option;
  -ms-align-items: $option;
  align-items: $option;
}

@mixin filter-items() {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

@mixin grid-row-gap( $option ) {
  -webkit-grid-row-gap: $option;
  -moz-grid-row-gap: $option;
  -o-grid-row-gap: $option;
  -ms-grid-row-gap: $option;
  grid-row-gap: $option;
}

@mixin position( $option ) {
  -webkit-position: $option;
  -moz-position: $option;
  -o-position: $option;
  -ms-position: $option;
  position: $option;
}

@mixin grid-gap( $option ) {
  -webkit-grid-gap: $option;
  -moz-grid-gap: $option;
  -o-grid-gap: $option;
  -ms-grid-gap: $option;
  grid-gap: $option;
}

@mixin transition( $option ) {
  -webkit-transition: $option;
  -moz-transition: $option;
  -o-transition: $option;
  -ms-transition: $option;
  transition: $option;
}

@mixin animation( $option ) {
  -webkit-animation: $option;
  -moz-animation: $option;
  -o-animation: $option;
  -ms-animation: $option;
  animation: $option;
}

@mixin transform( $option ) {
  -webkit-transform: $option;
  -moz-transform: $option;
  -o-transform: $option;
  -ms-transform: $option;
  transform: $option;
}

@mixin flex-direction( $option ) {
  -webkit-flex-direction: $option;
  -moz-flex-direction: $option;
  -o-flex-direction: $option;
  -ms-flex-direction: $option;
  flex-direction: $option;
}

@mixin grid-template-columns( $option ) {
  -webkit-grid-template-columns: $option;
  -moz-grid-template-columns: $option;
  -o-grid-template-columns: $option;
  -ms-grid-template-columns: $option;
  grid-template-columns: $option;
}

@mixin overflow( $option ) {
  -webkit-overflow: $option;
  -moz-overflow: $option;
  -o-overflow: $option;
  -ms-overflow: $option;
  overflow: $option;
}