@import "../../App";

.nav {
  width: 100%;
  height: 480px;
  @include display( flex );
  @include justify-content( center );
  @include align-items( center );
  @include position( relative );
}

// title

.title {
  @include position( absolute );
  top: -95px;
  left: -10px;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 300px;
  color: #F3F3F3;
}

@media screen and ( max-width: 840px ) {
  .title {
    font-size: 250px;
  }
}

@media screen and ( max-width: 700px ) {
  .title {
    top: -45px;
    font-size: 130px;
  }
}

@media screen and ( max-width: 358px ) {
  .title {
    font-size: 116px;
  }
}

@media screen and ( max-width: 560px ) {
  .nav {
    width: 100%;
    height: 260px;
  }
}

// btn

.slide_btn {
  width: 68px;
  height: 68px;
  background-color: #000;
  z-index: 1000;
}

.svg {
  fill: #2C2F33;
}

.rotate {
  @include transform( rotate(180deg) );
}
